
.MainContent{
    background-image: url(../images/dance_main_background.jpg);
    background-repeat: repeat;
    height: 67.5rem;

    margin-top: 10rem;

}
.body{
  font-family: Segoe UI;
  font-weight: bold;
}

.EventTitle{
    overflow: hidden;
    color:lime;
    text-align: center;
    font-size: 1.875rem;
    font-family: Segoe UI;
    font-weight: bold;
}
#subtitle{
  text-align: center;
  font-size: 1.125rem;
  color: white;
}

.ArtistsRow1 {
   width:52%;
 margin-left: auto ;
 margin-right:auto ;

  }
  .ArtistsRow2 {
    
  margin-left: auto ;
  margin-right:auto ;
  }
  .DaysRow{
    padding: 50px;
   text-align: center;
  }
 
  .allTicketsBtn{
    height: 50px;
    width: 20%;
    border-radius: 25px;
    border-color: white;
    font-family: Segoe UI;
    font-weight: bold;
    font-size: 23px;
  }
  .allTicketsBtn:hover{
    background-color: lime;
    border-color: black;
  }
  .allTicketsBtn:focus{
    background-color: lime;
  }
  .fridayBtn{
    height: 50px;
    width: 20%;
    border-radius: 25px;
    border-color: white;
    font-family: Segoe UI;
    font-weight: bold;
    font-size: 23px;
  }
  .fridayBtn:hover{
    background-color: lime;
    border-color: black;
  }
  .fridayBtn:focus{
    background-color: lime;
  }
  .saturdayBtn{
    height: 50px;
    width: 20%;
    border-radius: 25px;
    border-color: white;
    font-family: Segoe UI;
    font-weight: bold;
    font-size: 23px;
  }
  .saturdayBtn:hover{
    background-color: lime;
    border-color: black;
  }
  .saturdayBtn:focus{
    background-color: lime;
  }
  .sundayBtn{
    height: 50px;
    width: 20%;
    border-radius: 25px;
    border-color: white;
    font-family: Segoe UI;
    font-weight: bold;
    font-size: 23px;
  }
  .sundayBtn:hover{
    background-color: lime;
    border-color: black;
  }
  .sundayBtn:focus{
    background-color: lime;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1.8fr 0.2fr 1fr 1fr;
    grid-template-rows: 0.7fr 1.3fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "ticketTitle ticketTitle ticketTitle ticketTitle"
      "ticketImg ticketInfo ticketInfo ticketInfo"
      "ticketImg ticketInfo ticketInfo ticketInfo";
  }
  .ticketTitle{
     grid-area: ticketTitle; 
     background-color:#F9007D;
     width: 30%;
     height: 50px;
     padding: 0%;
     margin-left: 300px;
     font-size: 25px;
     font-family: Segoe UI;
     text-align: center;
     font-weight: bold;

  }
  .ticketImg {
    padding: 0%;
     grid-area: ticketImg;
     background-color: white;
     width: 35%;
     margin-left: 300px;
     height: 210px;
     background-repeat: no-repeat;
     background-position: center;

     }
  .ticketInfo { 
    grid-area: ticketImg;
    background-color: white;
    width: 31.6%;
    margin-left: 600px;
    color: black;
    font-family: Segoe UI;
    font-weight: bolder;
    height: 210px;
    font-size: 20px;
  }
 #buyTicketBtn{
   background-color: #0d7eff;
   text-align: center;
   font-family: Segoe UI;
   font-weight: bold;
   font-size: 20px;
   color: white;
   height: 40px;
   width: 170px;
   margin-left: 52px;
 }
 


  

  