@media screen and (min-resolution: 120dpi) {
    /*body {transform: scale(0.8);width: 125%;height: 125%;margin-left: -12.5%;}*/
    body {
        zoom: 0.8;
    }

}
.topBanner {
    overflow: hidden;
    background-color: #BB1212;
    color: white;
    position: fixed;
    text-align: right;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 1rem;
    font-family: arial;
}

.navBar {
    position: fixed;
    margin-top: 1.6rem;
}

.workSpace {
    position: fixed;
    margin-top: 2.65rem;
    margin-left: 14.85rem;
    width: 100%;
    height: 100%;
    background-color: #F1F1F1;
}

ul {
    list-style-type: none;
    text-align: center;
    font-size: 1rem;
    padding: 0rem;
    width: 15.25rem;
    left: 0rem;
    background-color: #B5B5B5;
    height: 100%;
    position: fixed;
    overflow: auto;
    /* Enable scrolling if the sidenav has too much content */
}

li a {
    display: block;
    color: white;
    background-color: #BB1212;
    font-family: Lato;
    padding: 0.4rem 0.8rem;
    text-decoration: none;
    font-size: 1.8rem;
    border: 0.05rem solid #000;
}

#logout {
    margin: 37rem 0 0 0;
}

#welcome {
    font-size: 2.75rem;
    font-family: Segoe UI;
    margin-left: 0.8rem;
}

.turnover {
    margin-left: 2.4rem;
    font-size: 1.5rem;
    font-family: arial;
    border: 0.05rem solid black;
    width: 80%;
    height: 50%;
    padding-left: 0.8rem;
    padding-top: 0.8rem;
}

#turnoverTitle {
    font-family: 'Segoe UI';
    font-size: 1.75rem;
    margin-left: 0.6rem;
}

.datePick {
    font-size: 1.5rem;
    margin-left: 0.8rem;
    margin-top: 0.5em;
}

.datePicker {
    font-size: 1.25rem;
}

.infoBoxes {
    margin-left: 0.8rem;
    margin-top: 1.6rem;
}

.infoBox {
    font-family: arial;
    font-size: 1.25rem;
    float: left;
    width: 20rem;
    padding: 0.5rem;
    border: 0.1rem solid black;
    background-color: white;
}

#details {
    width: 12rem;
    height: 3rem;
    font-size: 1.5rem;
    background-color: white;
    margin-left: 39.64rem;
    margin-top: 1.2rem;
}