@media screen and (min-resolution: 120dpi) {
    /*body {transform: scale(0.8);width: 125%;height: 125%;margin-left: -12.5%;}*/
    body {
        zoom: 0.8;
    }

}
.topBanner {
    overflow: hidden;
    background-color: #BB1212;
    color: white;
    position: fixed;
    text-align: right;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 1rem;
    font-family: arial;
}

.navBar {
    position: fixed;
    margin-top: 1.6rem;
}

.workSpace {
    position: fixed;
    margin-top: 2.65rem;
    margin-left: 14.85rem;
    width: 100%;
    height: 100%;
    background-color: #F1F1F1;
}

ul {
    list-style-type: none;
    text-align: center;
    font-size: 1rem;
    padding: 0rem;
    width: 15.25rem;
    left: 0rem;
    background-color: #B5B5B5;
    height: 100%;
    position: fixed;
    overflow: auto;
    /* Enable scrolling if the sidenav has too much content */
}

li a {
    display: block;
    color: white;
    background-color: #BB1212;
    font-family: Lato;
    padding: 0.4rem 0.8rem;
    text-decoration: none;
    font-size: 1.8rem;
    border: 0.05rem solid #000;
}

#logout {
    margin: 37rem 0 0 0;
}

