
.MainContent{
    background-image: url(../images/dance_main_background.jpg);
    background-repeat: repeat;
    height: 67.5rem;

    margin-top: 10rem;

}

.EventTitle{
    overflow: hidden;
    margin-right: 46.875rem;
    color:lime;
    text-align: center;
    font-size: 1.875rem;
    font-weight: bold;
}
#subtitle{
  text-align: center;
  font-size: 1.125rem;
  color: white;
}

.ArtistsRow1 {
   width:52%;
 margin-left: auto ;
 margin-right:auto ;

  }
  .ArtistsRow2 {
    widows: 80%;
  margin-left: auto ;
  margin-right:auto ;
  }
  .DaysRow{
    height: 9.375rem;
    width:52%;
    padding: 2.1875rem 9.375rem;
    margin-left: auto ;
    margin-right:auto ;
  }


  

  