
.MainContent {
    background-image: url(../images/dance_main_background.jpg);
    background-position: 0rem 8.375rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 150rem;
    margin-top: 10rem;

}

.body {
    font-family: Segoe UI;
    font-weight: bold;
}

.EventTitle {
    overflow: hidden;
    color: lime;
    text-align: center;
    font-size: 1.875rem;
    font-family: Segoe UI;
    font-weight: bold;
}

#subtitle {
    text-align: center;
    font-size: 1.125rem;
    color: white;
}

.ArtistsRow1 {
    width: 75%;
    margin-left: 27rem;

}

.ArtistsRow2 {

    margin-left: auto;
    margin-right: auto;
}

.DaysRow {
    padding: 3.125rem;
    width: 120rem;
    position: relative;
    right: 8rem;
    text-align: center;
}

.allTicketsBtn {
    height: 3.125rem;
    width: 20%;
    border-radius: 1.5625rem;
    border-color: white;
    font-family: Segoe UI;
    font-weight: bold;
    font-size: 1.4375rem;
}

.allTicketsBtn:hover {
    background-color: lime;
    border-color: black;
}

.allTicketsBtn:focus {
    background-color: lime;
}

.fridayBtn {
    height: 3.125rem;
    width: 20%;
    border-radius: 1.5625rem;
    border-color: black;
    font-family: Segoe UI;
    font-weight: bold;
    font-size: 1.4375rem;
    background-color: lime;
}

.fridayBtn:hover {
    background-color: lime;
    border-color: black;
}

.fridayBtn:focus {
    background-color: lime;
}

.saturdayBtn {
    height: 3.125rem;
    width: 20%;
    border-radius: 1.5625rem;
    border-color: white;
    font-family: Segoe UI;
    font-weight: bold;
    font-size: 1.4375rem;
}

.saturdayBtn:hover {
    background-color: lime;
    border-color: black;
}

.saturdayBtn:focus {
    background-color: lime;
}

.sundayBtn {
    height: 3.125rem;
    width: 20%;
    border-radius: 1.5625rem;
    border-color: white;
    font-family: Segoe UI;
    font-weight: bold;
    font-size: 1.4375rem;
}

.sundayBtn:hover {
    background-color: lime;
    border-color: black;
}

.sundayBtn:focus {
    background-color: lime;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0fr 0fr 0fr 0fr;
    gap: 0rem 0rem;
    grid-template-areas:
    "ticket1Title ticket2Title"
    "ticket1Detail ticket2Detail"
    "ticket3Title ticket4Title"
    "ticket3Detail ticket4Detail"
    "ticket5Title ticket6Title"
    "ticket5Detail ticket6Detail";
}

.ticket1Title {
    grid-area: ticket1Title;
    background-color: #F9007D;
    margin-right: 1.25rem;
    margin-left: 12rem;
    font-size: 1.5625rem;
    font-family: Segoe UI;
    text-align: center;
    font-weight: bold;
    height: 3rem;
    width:  40.125rem;

}

.ticket2Title {
    grid-area: ticket2Title;
    background-color: #F9007D;
    margin-right: 12rem;
    margin-left: 1.25rem;
    font-size: 1.5625rem;
    font-family: Segoe UI;
    text-align: center;
    font-weight: bold;
    height: 3rem;
    width:  40.125rem;
}

.ticket1Detail {
    grid-area: ticket1Detail;
    background-color: white;
    margin-right: 1.25rem;
    margin-left: 12rem;
    margin-bottom: 6rem;
    color: black;
    width:  40.125rem;
    height: 18.75rem;

}
.buyTicket1{
    grid-area: ticket1Detail;
    background-color: white;
    position: relative;
    margin-right: 1.25rem;
    margin-left: 12rem;
    margin-bottom: 6rem;
    color: black;
    width:  40.125rem;
    height: 18.75rem;
    visibility: hidden;
    
}
.buyTicket1Title{
    grid-area: ticket1Title;
    background-color: #11557C;
    position: relative;
    bottom: 3rem;
    color: white;
    font-size: 1.5625rem;
    font-family: Segoe UI;
    text-align: center;
    font-weight: bold;
    height: 3rem;
    width:  40.125rem;
  

}
.buyTicket2{
 
    grid-area: ticket2Detail;
    background-color: white;
    margin-right: 12rem;
    margin-left: 1.25rem;
    color: black;
    width:  40.125rem;
    height: 18.75rem;
    visibility: hidden;
}
.buyTicket2Title{
    grid-area: ticket2Title;
    background-color: #11557C;
  

}
.buyTicket3{
 
    grid-area: ticket3Detail;
    background-color: white;
    margin-right: 1.25rem;
    margin-left: 12rem;
    margin-bottom: 5rem;
    color: black;
    width:  40.125rem;
    height: 18.75rem;
    visibility: hidden;
}
.buyTicket3Title{
    grid-area: ticket3Title;
    background-color: #11557C;
  

}
.buyTicket4{
 
    grid-area: ticket4Detail;
    background-color: white;
    margin-right: 12rem;
    margin-left: 1.25rem;
    color: black;
    width:  40.125rem;
    height: 18.75rem;
    visibility: hidden;
}
.buyTicket4Title{
    grid-area: ticket4Title;
    background-color: #11557C;
  

}
.buyTicket5{
 
    grid-area: ticket5Detail;
    background-color: white;
    margin-right: 1.25rem;
    margin-left: 12rem;
    margin-bottom: 5rem;
    color: black;
    width:  40.125rem;
    height: 18.75rem;
    visibility: hidden;
}
.buyTicket5Title{
    grid-area: ticket5Title;
    background-color: #11557C;
  

}
.buyTicket6{
 
    grid-area: ticket6Detail;
    background-color: white;
    margin-right: 12rem;
    margin-left: 1.25rem;
    color: black;
    width:  40.125rem;
    height: 18.75rem;
    visibility: hidden;
}
.buyTicket6Title{
    grid-area: ticket6Title;
    background-color: #11557C;
  

}
.buyTicketLeftside{
    background-color: #0D7EFF;
    height: 18.75rem;
    width: 12.75rem;
    text-align: center;
    font-family: Segoe UI;
    font-weight: bold;
    font-size: 1.2rem;
    color: white;
}
.buyTicketLeftside img{
    height: 8.75rem;
    width: 8.75rem;
    margin-left: 1.75rem;
    float: left;
    object-fit: cover;
    background-color: #0D7EFF;
}
.buyTicketRightside{
    float: right;
    text-align: left;
    font-size: 1.6rem;
    font-weight: bold;
    font-family: Segoe UI;
    margin-left: 12rem;
    position: relative;
    
    color: black;
    bottom: 22rem;
}

.rightsideDetail {
    float: right;
    text-align: left;
    font-size: 1.875rem;
    font-weight: bold;
    font-family: segoe ui;
    margin-left: 0.625rem;
}

.leftsideDetail img {
    height: 18.75rem;
    width: 18.75rem;
    float: left;
    object-fit: cover;

}
.buyButtonTicketRow1{
    text-align: center;
    height: 3.125rem;
    width: 10.9375rem;
    margin-left: 3.4375rem;
    font-size: 18px;
    font-weight: bold;
    font-family: segoe ui;
    background-color: #0D7EFF;
    color: whitesmoke;
}
.buyTicket1Btn {
    text-align: center;
    height: 3.125rem;
    width: 10.9375rem;
    margin-left: 3.4375rem;
    font-size: 18px;
    font-weight: bold;
    font-family: segoe ui;
    background-color: #0D7EFF;
    color: whitesmoke;
}
.buyTicket2Btn {
    text-align: center;
    height: 3.125rem;
    width: 10.9375rem;
    margin-left: 3.4375rem;
    font-size: 18px;
    font-weight: bold;
    font-family: segoe ui;
    background-color: #0D7EFF;
    color: whitesmoke;
}
.buyTicket3Btn {
    text-align: center;
    height: 3.125rem;
    width: 10.9375rem;
    margin-left: 3.4375rem;
    font-size: 18px;
    font-weight: bold;
    font-family: segoe ui;
    background-color: #0D7EFF;
    color: whitesmoke;
}
.buyTicket4Btn {
    text-align: center;
    height: 3.125rem;
    width: 10.9375rem;
    margin-left: 3.4375rem;
    font-size: 18px;
    font-weight: bold;
    font-family: segoe ui;
    background-color: #0D7EFF;
    color: whitesmoke;
}
.buyTicket5Btn {
    text-align: center;
    height: 3.125rem;
    width: 10.9375rem;
    margin-left: 3.4375rem;
    font-size: 18px;
    font-weight: bold;
    font-family: segoe ui;
    background-color: #0D7EFF;
    color: whitesmoke;
}

.ticket2Detail {
    grid-area: ticket2Detail;
    background-color: white;
    margin-right: 12rem;
    margin-left: 1.25rem;
    color: black;
    width:  40.125rem;
    height: 18.75rem;
}

.ticket3Title {
    grid-area: ticket3Title;
    background-color: #F9007D;
    margin-right: 1.25rem;
    margin-left: 12rem;
    font-size: 1.5625rem;
    font-family: Segoe UI;
    text-align: center;
    font-weight: bold;
    width:  40.125rem;
    height: 3rem;
}

.ticket4Title {
    grid-area: ticket4Title;
    background-color: #F9007D;
    margin-right: 12rem;
    margin-left: 1.25rem;
    font-size: 1.5625rem;
    font-family: Segoe UI;
    text-align: center;
    font-weight: bold;
    width:  40.125rem;
    height: 3rem;
}

.ticket3Detail {
    grid-area: ticket3Detail;
    background-color: white;
    margin-right: 1.25rem;
    margin-left: 12rem;
    margin-bottom: 5rem;
    color: black;
    width:  40.125rem;
    height: 18.75rem;
}

.ticket4Detail {
    grid-area: ticket4Detail;
    background-color: white;
    margin-right: 12rem;
    margin-left: 1.25rem;
    color: black;
    width:  40.125rem;
    height: 18.75rem;
}
.ticket5Title {
    grid-area: ticket5Title;
    background-color: #F9007D;
    margin-right: 1.25rem;
    margin-left: 12rem;
    font-size: 1.5625rem;
    font-family: Segoe UI;
    text-align: center;
    font-weight: bold;
    width:  40.125rem;
    height: 3rem;

}
.ticket5Detail {
    grid-area: ticket5Detail;
    background-color: white;
    margin-right: 1.25rem;
    margin-left: 12rem;
    margin-bottom: 5rem;
    color: black;
    width:  40.125rem;
    height: 18.75rem;

}
.ticket6Title {
    grid-area: ticket6Title;
    background-color: #F9007D;
    margin-right: 12rem;
    margin-left: 1.25rem;
    font-size: 1.5625rem;
    font-family: Segoe UI;
    text-align: center;
    font-weight: bold;
    width:  40.125rem;
    height: 3rem;
}
.ticket6Detail {
    grid-area: ticket6Detail;
    background-color: white;
    margin-right: 12rem;
    margin-left: 1.25rem;
    color: black;
    width:  40.125rem;
    height: 18.75rem;
}

.ticketGridArea {
    display: grid;
    text-align: left;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem 0rem;
    float: right;
    margin-left: 1rem;
    margin-top: 1rem;
    grid-template-areas: "titleGrid priceGrid amountGrid ." "titleRegular priceRegular amountRegular ." "titleAllAccessDay priceAllAccessDay amountAllAccessDay ." "titleAllAccessWeekend priceAllAccessWeekend amountAllAccessWeekend .";
    color: #000000;
}
.ticketGridArea label {
    text-align: left;
    font-family: "Segoe UI";
    font-weight: normal;
    font-size: 1.25rem;
}

.titleGrid {
    grid-area: titleGrid;
    font-weight: bold;
}

.priceGrid {
    grid-area: priceGrid;
}

.amountGrid {
    grid-area: amountGrid;
}

.titleRegular {
    font-family: "Segoe UI";
    font-weight: normal;
    grid-area: titleRegular;

}

.priceRegular {
    grid-area: priceRegular;
}

.amountRegular{
    grid-area: amountRegular;
}

.amountRegular button {
    width: 1.4375rem;
    height: 1.4375rem;
}

.amountRegular input {
    width: 2rem;
    border: none;
    border: 0.125rem #BCE0FD solid;
    border-radius: 0.3125rem;
    background-color: #F1F9FF;
    text-align: right;
}

.minusRegular {
    border: none;
    background-color: #AA2828;
    color: #FFFFFF;
    border-radius: 50%;

}

.plusRegular {
    border: none;
    background-color: #2699FB;
    color: #FFFFFF;
    border-radius: 50%;
}

.titleAllAccessDay {
    grid-area: titleAllAccessDay;
}

.priceAllAccessDay {
    grid-area: priceAllAccessDay;
}

.amountAllAccessDay {
    grid-area: amountAllAccessDay;
}

.amountAllAccessDay button {
    width: 1.4375rem;
    height: 1.4375rem;
}

.amountAllAccessDay input {
    width: 2rem;
    border: none;
    border: 0.125rem #BCE0FD solid;
    border-radius: 0.3125rem;
    background-color: #F1F9FF;
    text-align: right;

}

.minusAllAccessDay {
    border: none;
    background-color: #AA2828;
    color: #FFFFFF;
    border-radius: 50%;
}

.plusAllAccessDay {
    border: none;
    background-color: #2699FB;
    color: #FFFFFF;
    border-radius: 50%;
}

.titleAllAccessWeekend {
    grid-area: titleAllAccessWeekend;
}

.priceAllAccessWeekend {
    grid-area: priceAllAccessWeekend;
}

.amountAllAccessWeekend {
    grid-area: amountAllAccessWeekend;
}

.amountAllAccessWeekend button {
    width: 1.4375rem;
    height: 1.4375rem;
}

.amountAllAccessWeekend input {
    width: 2rem;
    border: none;
    border: 0.125rem #BCE0FD solid;
    border-radius: 0.3125rem;
    background-color: #F1F9FF;
    text-align: right;
}

.minusAllAccessWeekend {
    border: none;
    background-color: #AA2828;
    color: #FFFFFF;
    border-radius: 50%;
}

.plusAllAccessWeekend {
    border: none;
    background-color: #2699FB;
    color: #FFFFFF;
    border-radius: 50%;
}

.AddToCartButton {
    background-color: #0D7EFF;
    border: 0.0625rem #707070 solid;
    width: 9.6875rem;
    height: 6rem;
    margin-top: 1.2rem;
    margin-left: 1.7rem;
}

.AddToCartButton:hover {
    background-color: #00408A;
}

.AddToCartButton label {
    font-size: 1.0625rem;
    font-family: "Segoe UI";
    text-align: center;
    line-height: 6rem;
    font-weight: bold;
    cursor: pointer;
    color: #FFFFFF;
}

.AddToCartButton img {
    margin-top: 2.2rem;
    margin-left: 0.3125rem;
    margin-right: 0rem;
    height: 1.678125rem;
    width: 1.678125rem;
    float: left;
    object-fit: cover;
}
.buttonAddTicket1{
    text-align: center;
    height: 3.125rem;
    width: 10.9375rem;
    margin-left: 2rem;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    top: 16rem;
    left: 4.5rem;
    bottom: 2rem;
    font-family: segoe ui;
    background-color: #11557C;
    color: whitesmoke;
}
.buttonAddTicket2{
    text-align: center;
    height: 3.125rem;
    width: 10.9375rem;
    margin-left: 2rem;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    top: 16rem;
    left: 4.5rem;
    bottom: 2rem;
    font-family: segoe ui;
    background-color: #11557C;
    color: whitesmoke;
}
.buttonAddTicket3{
    text-align: center;
    height: 3.125rem;
    width: 10.9375rem;
    margin-left: 2rem;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    top: 16rem;
    left: 4.5rem;
    bottom: 2rem;
    font-family: segoe ui;
    background-color: #11557C;
    color: whitesmoke;
}
.buttonAddTicket4{
    text-align: center;
    height: 3.125rem;
    width: 10.9375rem;
    margin-left: 2rem;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    top: 16rem;
    left: 4.5rem;
    bottom: 2rem;
    font-family: segoe ui;
    background-color: #11557C;
    color: whitesmoke;
}
.buttonAddTicket5{
    text-align: center;
    height: 3.125rem;
    width: 10.9375rem;
    margin-left: 2rem;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    top: 16rem;
    left: 4.5rem;
    bottom: 2rem;
    font-family: segoe ui;
    background-color: #11557C;
    color: whitesmoke;
}
.buttonAddTicket6{
    text-align: center;
    height: 3.125rem;
    width: 10.9375rem;
    margin-left: 2rem;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    top: 16rem;
    left: 4.5rem;
    bottom: 2rem;
    font-family: segoe ui;
    background-color: #11557C;
    color: whitesmoke;
}




  

  