
.MainContent{
    background-image: url(../images/dance_main_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 0rem 67.5rem;

    margin-top: 10rem;

}
.body{
  font-family: Segoe UI;
  font-weight: bold;
}

.EventTitle{
    overflow: hidden;
    color:lime;
    text-align: center;
    font-size: 1.875rem;
    font-family: Segoe UI;
    font-weight: bold;
}
#subtitle{
  text-align: center;
  font-size: 1.125rem;
  color: white;
}

.ArtistsRow1 {
   width:52%;
 margin-left: auto ;
 margin-right:auto ;

  }
  .ArtistsRow2 {
    
  margin-left: auto ;
  margin-right:auto ;
  }
  .DaysRow{
    padding: 50px;
   text-align: center;
  }
 
  .allTicketsBtn{
    height: 50px;
    width: 20%;
    border-radius: 25px;
    border-color: white;
    font-family: Segoe UI;
    font-weight: bold;
    font-size: 23px;
  }
  .allTicketsBtn:hover{
    background-color: lime;
    border-color: black;
  }
  .allTicketsBtn:focus{
    background-color: lime;
  }
  .fridayBtn{
    height: 50px;
    width: 20%;
    border-radius: 25px;
    border-color: white;
    font-family: Segoe UI;
    font-weight: bold;
    font-size: 23px;
  }
  .fridayBtn:hover{
    background-color: lime;
    border-color: black;
  }
  .fridayBtn:focus{
    background-color: lime;
  }
  .saturdayBtn{
    height: 50px;
    width: 20%;
    border-radius: 25px;
    border-color: white;
    font-family: Segoe UI;
    font-weight: bold;
    font-size: 23px;
  }
  .saturdayBtn:hover{
    background-color: lime;
    border-color: black;
  }
  .saturdayBtn:focus{
    background-color: lime;
  }
  .sundayBtn{
    height: 50px;
    width: 20%;
    border-radius: 25px;
    border-color: white;
    font-family: Segoe UI;
    font-weight: bold;
    font-size: 23px;
  }
  .sundayBtn:hover{
    background-color: lime;
    border-color: black;
  }
  .sundayBtn:focus{
    background-color: lime;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0fr 0fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "ticket1Title ticket2Title"
      "ticket1Detail ticket2Detail"
      "ticket3Title ticket4Title"
      "ticket3Detail ticket4Detail";
  }
  .ticket1Title {
     grid-area: ticket1Title; 
     background-color:#F9007D;
     margin-right: 20px;
     margin-left: 300px;
     font-size: 25px;
     font-family: Segoe UI;
     text-align: center;
     font-weight: bold;
     height: 50px;
     
    }
  .ticket2Title {
    grid-area: ticket2Title;
    background-color:#F9007D;
    margin-right: 300px;
    margin-left: 20px;
    font-size: 25px;
    font-family: Segoe UI;
    text-align: center;
    font-weight: bold;
    height: 50px;
   }
  .ticket1Detail {
     grid-area: ticket1Detail; 
     background-color: white;
    
     margin-right: 20px;
     margin-left: 300px;
     color: black;
     height: 300px;
     
    }
    .rightsideDetail{
     float: right;
     text-align: left;
     font-size: 30px;
     font-weight: bold;
     font-family: segoe ui;
     margin-left: 10px;
    }
    .leftsideDetail img{
      height: 300px;
      width: 300px;
      float: left;
      object-fit: cover;
      
    }
    .buyTicketBtn{
      text-align: center;
      height: 50px;
      width: 175px;
      margin-left: 55px;
      font-size: 18px;
      font-weight: bold;
      font-family: segoe ui;
      background-color: #0D7EFF ;
      color: whitesmoke;
    }
  .ticket2Detail {
     grid-area: ticket2Detail;
     background-color: white;
     margin-right: 300px;
     margin-left: 20px;
     color: black;
     height: 300px;
     }
  .ticket3Title {
     grid-area: ticket3Title; 
    }
  .ticket4Title {
     grid-area: ticket4Title; 
    }
  .ticket3Detail {
     grid-area: ticket3Detail; 
    }
  .ticket4Detail { 
    grid-area: ticket4Detail; 
  }

 


  

  