.FoodImageContainer{
    position: relative;
    background-color: black;
    height: 16.875rem;
    margin-top: 10.5rem;
}
.FoodImage{
    opacity: 0.45;
    width: 100%;
    height: 16.875rem;
}
.FoodHeader{
    font-size: 3rem;
    position: absolute;
    top: -2rem;
    left: 45%;
}
.RestaurantsHeader{
    font-size: 2.5rem;
    position: absolute;
    bottom: -0.625rem;
    left: 3%;
}
.FoodMainText1{
    position: absolute;
    top: 5.3125rem;
    left: 24%;
}
.ReservationFeeText{
    position: absolute;
    top: 7.8125rem;
    left: 25%;
}
.FoodMainText2{
    position: absolute;
    top: 6.875rem;
    left: 40%;
}