.FoodImageContainer{
    position: relative;
    background-color: black;
    height: 16.875rem;
    margin-top: 10.5rem;
}
.FoodImage{
    opacity: 0.45;
    width: 100%;
    height: 16.875rem;
}
.FoodHeader{
    font-size: 3rem;
    position: absolute;
    top: -2rem;
    left: 45%;
}
.RestaurantsHeader{
    font-size: 2.5rem;
    position: absolute;
    bottom: -0.625rem;
    left: 3%;
}
.FoodMainText1{
    display: flex;
    position: absolute;
    top: 6.25rem;
    left: 24%;
}
.FoodMainText2{
    display: flex;
    position: absolute;
    top: 7.8125rem;
    left: 25%;
}

.Restaurants{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0.3125rem;
    grid-row-gap: 0.625rem;
    margin-bottom: 6.25rem;
}    
.Rest1 { grid-area: 1 / 1 / 3 / 4; }
.Rest2 { grid-area: 1 / 4 / 3 / 7; }
.Rest3 { grid-area: 3 / 1 / 5 / 4; }
.Rest4 { grid-area: 3 / 4 / 5 / 7; }
.Rest5 { grid-area: 5 / 1 / 7 / 4; }
.Rest6 { grid-area: 5 / 4 / 7 / 7; }
.Rest7 { grid-area: 7 / 1 / 9 / 4; }
.Rest8 { grid-area: 7 / 4 / 9 / 7; }

#MrAndMrs{
    float: left;
    margin-top: 2.5rem;
    margin-left: 3.125rem;
    width: 15.625rem;
    height: 15.625rem;
    object-fit: cover;
}
#Rest1Header{
    color: black;
    margin-top: 2.3125rem;
    margin-left: 20rem;
}
#Rest1Cuisine{
    color: black;
    text-align: center;
    font-size: 1.125rem;
    margin-top: -1.875rem;
    margin-left: 45.9375rem;
}
#Rest1Text{
    color: black;
    margin-top: 2.5rem;
    margin-left: 20rem;
    margin-right: 15rem;
}
#Stars4{
    float: right;
    background: transparent;
    width: 9.375rem;
    height: 1.875rem;
    margin-right: 2.1875rem;
    margin-top: -3.125rem;
}
#Rest1Price{
    float: left;
    color: black;
    font-size: 1.375rem;
    margin-left: 1.25rem;
    margin-top: 3.75rem;

}
#ReserveButton{
    float: right;
    border-radius: 1.25rem;
    background-color: crimson;
    color: white;
    padding: 0.8125rem;
    font-size: 1.0625rem;
    margin-top: 1.5625rem;
    margin-right: 1.75rem;
    cursor: pointer;
}
#Stars3{
    float: right;
    background: transparent;
    width: 6.875rem;
    height: 1.875rem;
    margin-right: 3.125rem;
    margin-top: -4.375rem;
}
#Rest2Price{
    float: left;
    color: black;
    font-size: 1.375rem;
    margin-left: 1.25rem;
    margin-top: 2.9375rem;
}
#ReserveButton2{
    float: right;
    border-radius: 1.25rem;
    background-color: crimson;
    color: white;
    padding: 0.8125rem;
    font-size: 1.0625rem;
    margin-top: 0.3125rem;
    margin-right: 1.75rem;
    cursor: pointer;
}
label{
    width: 100px;
    display: inline-block;
}
select{
    width: 130px;
}