.MainContent {
    display: inline-block;
    margin-top: 11rem;
}

.DanceContent {
    background-image: url("../images/dance_background_homepage.jpg");
    float: left;
    margin-left: 4.0625rem;
    background-position: center;
    height: 48.75rem;
    width: 24.9375rem;
}

.DanceContent label {
    font-family: "Segoe UI";
    font-weight: bold;
    font-size: 3.875rem;
    display: block;
    text-align: center;
    margin-top: 3.125rem;

}

.DanceContent:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/dance_background_homepage.jpg');
    background-position: center;
}


.HoverTextDance {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    font-family: "Segoe UI";
    font-size: 1.25rem;
    opacity: 0;

}

.DanceContent:hover .HoverTextDance {
    opacity: 1;
}

.DanceButton {
    position: absolute;
    bottom: 4.375rem;
    left: 8.375rem
}

.FoodContent {
    background-image: url("../images/food_background_homepage.jpg");
    background-repeat: no-repeat;
    background-size: 24.9375rem 48.75rem;
    background-size: cover;
    background-position: center;
    float: left;
    margin-left: 4.0625rem;
    height: 48.75rem;
    width: 24.9375rem;
}

.FoodContent label {
    font-family: "Segoe UI";
    font-weight: bold;
    font-size: 3.875rem;
    display: block;
    text-align: center;
    margin-top: 3.125rem;
}

.FoodContent:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/food_background_homepage.jpg');
    background-position: center;
    background-size: 24.9375rem 48.75rem;
    background-size: cover;
    background-position: center;
}

.HoverTextFood {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    font-family: "Segoe UI";
    font-size: 1.25rem;
    opacity: 0;
}

.FoodContent:hover .HoverTextFood {
    opacity: 1;
}

.FoodButton {
    position: absolute;
    bottom: 4.375rem;
    left: 37.5rem;
}

.JazzContent {
    background-image: url("../images/jazz_background_homepage.jpg");
    background-size: 24.9375rem 48.75rem;
    background-size: cover;
    background-position: center;
    float: left;
    margin-left: 4.0625rem;
    height: 48.75rem;
    width: 24.9375rem;
}

.JazzContent label {
    font-family: "Segoe UI";
    font-weight: bold;
    font-size: 3.875rem;
    display: block;
    text-align: center;
    margin-top: 3.125rem;
}

.JazzContent:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/jazz_background_homepage.jpg');
    background-size: cover;
    background-position: center;
}

.HoverTextJazz {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    font-family: "Segoe UI";
    font-size: 1.25rem;
    opacity: 0;
}

.JazzContent:hover .HoverTextJazz {
    opacity: 1;
}
.JazzButton {
    position: absolute;
    bottom: 4.375rem;
    left: 66.5625rem;
}

.HistoricContent {
    background-image: url("../images/historic_background_homepage.jpg");
    background-size: 24.9375rem 48.75rem;
    background-size: cover;
    background-position: center;
    float: left;
    margin-left: 4.0625rem;
    height: 48.75rem;
    width: 24.9375rem;
}

.HistoricContent label {
    font-family: "Segoe UI";
    font-weight: bold;
    font-size: 3.875rem;
    display: block;
    text-align: center;
    margin-top: 3.125rem;
}

.HoverTextHistoric {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    font-family: "Segoe UI";
    font-size: 1.25rem;
    opacity: 0;
}

.HistoricContent:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/historic_background_homepage.jpg');
    background-size: cover;
    background-position: center;

}

.HistoricContent:hover .HoverTextHistoric {
    opacity: 1;
}

.HistoricButton {
    position: absolute;
    bottom: 4.375rem;
    left: 95.6875rem;
}

.HoverButton {
    font-weight: bold;
    width: 12.5rem;
    height: 1.875rem;
    line-height: 1.875rem;
    background-color: #F1FF30;
    border: #707070;
    border-radius: 1.875rem;
    color: black;
    padding: 0.9375rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
