body{
    background-attachment: fixed;
    background-image: url(../images/jazz_main_background.jpg);
    background-position: 0rem 8.375rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.MainContent{
    margin-top: 11.2rem;
    height: 137.5rem;
}
.MainContent h1 {
    color: #FFFFFF;
    font-size: 2.0625rem;
    text-align: center;
}


.JazzButtons {

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 -3rem;

}

.activeButton {

    border: 0.1875rem solid black;
    border-radius: 1.125rem;
    font-family: "Segoe UI";
    font-weight: bold;
    font-size: 1.625rem;
    background-color: #AA2828;
    width: 16.625rem;
    height: 4.75rem;
    line-height: 4.75rem;
    text-align: center;
    align-self: center;
    margin: 0 3rem 6rem 3rem;

}

.activeButton a {
    text-decoration: none;
    color: #FFFFFF;
}

.notActiveButton a {
    text-decoration: none;
    color: #000000;
}

.notActiveButton {
    border: 0.1875rem solid black;
    border-radius: 1.125rem;
    font-family: "Segoe UI";
    font-weight: bold;
    font-size: 1.625rem;
    background-color: #FFFFFF;
    width: 16.625rem;
    height: 4.75rem;
    line-height: 4.75rem;
    text-align: center;
    align-self: center;
    margin: 0 3rem 6rem 3rem;

}

.notActiveButton:hover {
    background-color: #AA2828;
}

.notActiveButton:hover a {
    color: #FFFFFF;
}

.lineupRoster {
    display: inline-block;
}

.lineupThursday {
    margin-top: 1.25rem;
    border: #FFFFFF 0.375rem solid;
    border-radius: 1.25rem;
    background-color: rgba(196, 141, 112, 0.66);
    float: left;
    margin-left: 4.0625rem;
    height: 106.25rem;
    width: 23.75rem;
}

.titleThursday {
    margin: auto;
    text-align: center;
    width: 20.875rem;
    height: 2.5rem;
    border-radius: 0.75rem;
    background-color: rgba(255, 255, 255, 0.63);
    color: black;
    font-weight: bold;
    line-height: 2.5rem;
    font-size: 1.25rem;
}


.lineupFriday {
    margin-top: 1.25rem;
    border: #FFFFFF 0.375rem solid;
    border-radius: 1.25rem;
    background-color: rgba(196, 141, 112, 0.66);
    float: left;
    margin-left: 4.0625rem;
    height: 106.25rem;
    width: 23.75rem;
}

.titleFriday {
    margin: auto;
    text-align: center;
    width: 20.875rem;
    height: 2.5rem;
    border-radius: 0.75rem;
    background-color: rgba(255, 255, 255, 0.63);
    color: black;
    font-weight: bold;
    line-height: 2.5rem;
    font-size: 1.25rem;
}

.lineupSaturday {
    margin-top: 1.25rem;
    border: #FFFFFF 0.375rem solid;
    border-radius: 1.25rem;
    background-color: rgba(196, 141, 112, 0.66);
    float: left;
    margin-left: 4.0625rem;
    height: 106.25rem;
    width: 23.75rem;
}

.titleSaturday {
    margin: auto;
    text-align: center;
    width: 20.875rem;
    height: 2.5rem;
    border-radius: 0.75rem;
    background-color: rgba(255, 255, 255, 0.63);
    color: black;
    font-weight: bold;
    line-height: 2.5rem;
    font-size: 1.25rem;
}

.lineupSunday {
    margin-top: 1.25rem;
    border: #FFFFFF 0.375rem solid;
    border-radius: 1.25rem;
    background-color: rgba(196, 141, 112, 0.66);
    float: left;
    margin-left: 4.0625rem;
    height: 106.25rem;
    width: 23.75rem;
}

.titleSunday {
    margin: auto;
    text-align: center;
    width: 20.875rem;
    height: 2.5rem;
    border-radius: 0.75rem;
    background-color: rgba(255, 255, 255, 0.63);
    color: black;
    font-weight: bold;
    line-height: 2.5rem;
    font-size: 1.25rem;
}

.lineupRoster {
}

.lineupRoster img {

    border: 0.3125rem white solid;
    margin-left: 1.25rem;
    margin-top: 2.5rem;
    width: 20.4375rem;
    height: 13.625rem;
    object-fit: cover;
}

.title1 {
    border: #707070 0.0625rem solid;
    font-family: "Segoe UI";
    font-weight: bold;
    position: absolute;
    margin: auto;
    text-align: center;
    width: 20.9375rem;
    height: 2.4375rem;
    line-height: 2.4375rem;
    top: 44.6rem;
    left: 5.6875rem;
    color: black;
    background-color: rgba(255, 255, 255, 0.71);
}

.time1 {
    border: #707070 0.0625rem solid;
    font-family: "Segoe UI";
    font-size: 1.125rem;
    font-weight: bold;
    position: absolute;
    margin: auto;
    text-align: center;
    width: 20.9375rem;
    height: 2.4375rem;
    line-height: 2.4375rem;
    top: 47.1rem;
    left: 5.6875rem;
    color: black;
    background-color: rgba(255, 110, 110, 0.71)
}

.title2 {
    border: #707070 0.0625rem solid;
    font-family: "Segoe UI";
    font-weight: bold;
    position: absolute;
    margin: auto;
    text-align: center;
    width: 20.9375rem;
    height: 2.4375rem;
    line-height: 2.4375rem;
    top: 61.5625rem;
    left: 5.6875rem;
    color: black;
    background-color: rgba(255, 255, 255, 0.71);
}

.time2 {
    border: #707070 0.0625rem solid;
    font-family: "Segoe UI";
    font-size: 1.125rem;
    font-weight: bold;
    position: absolute;
    margin: auto;
    text-align: center;
    width: 20.9375rem;
    height: 2.4375rem;
    line-height: 2.4375rem;
    top: 64.125rem;
    left: 5.6875rem;
    color: black;
    background-color: rgba(106, 255, 90, 0.71);
}


.title3 {
    border: #707070 0.0625rem solid;
    font-family: "Segoe UI";
    font-weight: bold;
    position: absolute;
    margin: auto;
    text-align: center;
    width: 20.9375rem;
    height: 2.4375rem;
    line-height: 2.4375rem;
    top: 78.5625rem;
    left: 5.6875rem;
    color: black;
    background-color: rgba(255, 255, 255, 0.71);
}

.time3 {
    border: #707070 0.0625rem solid;
    font-family: "Segoe UI";
    font-size: 1.125rem;
    font-weight: bold;
    position: absolute;
    margin: auto;
    text-align: center;
    width: 20.9375rem;
    height: 2.4375rem;
    line-height: 2.4375rem;
    top: 81.125rem;
    left: 5.6875rem;
    color: black;
    background-color: rgba(249, 255, 62, 0.71);
}

.title4 {
    border: #707070 0.0625rem solid;
    font-family: "Segoe UI";
    font-weight: bold;
    position: absolute;
    margin: auto;
    text-align: center;
    width: 20.9375rem;
    height: 2.4375rem;
    line-height: 2.4375rem;
    top: 95.5625rem;
    left: 5.6875rem;
    color: black;
    background-color: rgba(255, 255, 255, 0.71);
}

.time4 {
    border: #707070 0.0625rem solid;
    font-family: "Segoe UI";
    font-size: 1.125rem;
    font-weight: bold;
    position: absolute;
    margin: auto;
    text-align: center;
    width: 20.9375rem;
    height: 2.4375rem;
    line-height: 2.4375rem;
    top: 98.125rem;
    left: 5.6875rem;
    color: black;
    background-color: rgba(70, 240, 246, 0.71);
}

.title5 {
    border: #707070 0.0625rem solid;
    font-family: "Segoe UI";
    font-weight: bold;
    position: absolute;
    margin: auto;
    text-align: center;
    width: 20.9375rem;
    height: 2.4375rem;
    line-height: 2.4375rem;
    top: 112.5625rem;
    left: 5.6875rem;
    color: black;
    background-color: rgba(255, 255, 255, 0.71);
}

.time5 {
    border: #707070 0.0625rem solid;
    font-family: "Segoe UI";
    font-size: 1.125rem;
    font-weight: bold;
    position: absolute;
    margin: auto;
    text-align: center;
    width: 20.9375rem;
    height: 2.4375rem;
    line-height: 2.4375rem;
    top: 115.125rem;
    left: 5.6875rem;
    color: black;
    background-color: rgba(255, 133, 227, 0.71);
}

.title6 {
    border: #707070 0.0625rem solid;
    font-family: "Segoe UI";
    font-weight: bold;
    position: absolute;
    margin: auto;
    text-align: center;
    width: 20.9375rem;
    height: 2.4375rem;
    line-height: 2.4375rem;
    top: 129.5625rem;
    left: 5.6875rem;
    color: black;
    background-color: rgba(255, 255, 255, 0.71);
}

.time6 {
    border: #707070 0.0625rem solid;
    font-family: "Segoe UI";
    font-size: 1.125rem;
    font-weight: bold;
    position: absolute;
    margin: auto;
    text-align: center;
    width: 20.9375rem;
    height: 2.4375rem;
    line-height: 2.4375rem;
    top: 132.125rem;
    left: 5.6875rem;
    color: black;
    background-color: rgba(255, 200, 72, 0.71);
}

.title7{
    border: #707070 0.0625rem solid;
    font-family: "Segoe UI";
    font-weight: bold;
    position: absolute;
    margin: auto;
    text-align: center;
    width: 20.9375rem;
    height: 2.4375rem;
    line-height: 2.4375rem;
    top: 44.5625rem;
    left: 34.25rem;
    color: black;
    background-color: rgba(255, 255, 255, 0.71);
}

.time7 {
    border: #707070 0.0625rem solid;
    font-family: "Segoe UI";
    font-size: 1.125rem;
    font-weight: bold;
    position: absolute;
    margin: auto;
    text-align: center;
    width: 20.9375rem;
    height: 2.4375rem;
    line-height: 2.4375rem;
    top: 47.125rem;
    left: 34.25rem;
    color: black;
    background-color: rgba(255, 110, 110, 0.71)
}

.title8 {
    border: #707070 0.0625rem solid;
    font-family: "Segoe UI";
    font-weight: bold;
    position: absolute;
    margin: auto;
    text-align: center;
    width: 20.9375rem;
    height: 2.4375rem;
    line-height: 2.4375rem;
    top: 61.5625rem;
    left: 34.25rem;
    color: black;
    background-color: rgba(255, 255, 255, 0.71);
}

.time8 {
    border: #707070 0.0625rem solid;
    font-family: "Segoe UI";
    font-size: 1.125rem;
    font-weight: bold;
    position: absolute;
    margin: auto;
    text-align: center;
    width: 20.9375rem;
    height: 2.4375rem;
    line-height: 2.4375rem;
    top: 64.125rem;
    left: 34.25rem;
    color: black;
    background-color: rgba(106, 255, 90, 0.71);
}


.title9 {
    border: #707070 0.0625rem solid;
    font-family: "Segoe UI";
    font-weight: bold;
    position: absolute;
    margin: auto;
    text-align: center;
    width: 20.9375rem;
    height: 2.4375rem;
    line-height: 2.4375rem;
    top: 78.5625rem;
    left: 34.25rem;
    color: black;
    background-color: rgba(255, 255, 255, 0.71);
}

.time9 {
    border: #707070 0.0625rem solid;
    font-family: "Segoe UI";
    font-size: 1.125rem;
    font-weight: bold;
    position: absolute;
    margin: auto;
    text-align: center;
    width: 20.9375rem;
    height: 2.4375rem;
    line-height: 2.4375rem;
    top: 81.125rem;
    left: 34.25rem;
    color: black;
    background-color: rgba(249, 255, 62, 0.71);
}

.title10{
    border: #707070 0.0625rem solid;
    font-family: "Segoe UI";
    font-weight: bold;
    position: absolute;
    margin: auto;
    text-align: center;
    width: 20.9375rem;
    height: 2.4375rem;
    line-height: 2.4375rem;
    top: 95.5625rem;
    left: 34.25rem;
    color: black;
    background-color: rgba(255, 255, 255, 0.71);
}

.time10 {
    border: #707070 0.0625rem solid;
    font-family: "Segoe UI";
    font-size: 1.125rem;
    font-weight: bold;
    position: absolute;
    margin: auto;
    text-align: center;
    width: 20.9375rem;
    height: 2.4375rem;
    line-height: 2.4375rem;
    top: 98.125rem;
    left: 34.25rem;
    color: black;
    background-color: rgba(70, 240, 246, 0.71);
}

.title11 {
    border: #707070 0.0625rem solid;
    font-family: "Segoe UI";
    font-weight: bold;
    position: absolute;
    margin: auto;
    text-align: center;
    width: 20.9375rem;
    height: 2.4375rem;
    line-height: 2.4375rem;
    top: 112.5625rem;
    left: 34.25rem;
    color: black;
    background-color: rgba(255, 255, 255, 0.71);
}

.time11 {
    border: #707070 0.0625rem solid;
    font-family: "Segoe UI";
    font-size: 1.125rem;
    font-weight: bold;
    position: absolute;
    margin: auto;
    text-align: center;
    width: 20.9375rem;
    height: 2.4375rem;
    line-height: 2.4375rem;
    top: 115.125rem;
    left: 34.25rem;
    color: black;
    background-color: rgba(255, 133, 227, 0.71);
}

.title12 {
    border: #707070 0.0625rem solid;
    font-family: "Segoe UI";
    font-weight: bold;
    position: absolute;
    margin: auto;
    text-align: center;
    width: 20.9375rem;
    height: 2.4375rem;
    line-height: 2.4375rem;
    top: 129.5625rem;
    left: 34.25rem;
    color: black;
    background-color: rgba(255, 255, 255, 0.71);
}

.time12 {
    border: #707070 0.0625rem solid;
    font-family: "Segoe UI";
    font-size: 1.125rem;
    font-weight: bold;
    position: absolute;
    margin: auto;
    text-align: center;
    width: 20.9375rem;
    height: 2.4375rem;
    line-height: 2.4375rem;
    top: 132.125rem;
    left: 34.25rem;
    color: black;
    background-color: rgba(255, 200, 72, 0.71);
}

.title13 {
    border: #707070 0.0625rem solid;
    font-family: "Segoe UI";
    font-weight: bold;
    position: absolute;
    margin: auto;
    text-align: center;
    width: 20.9375rem;
    height: 2.4375rem;
    line-height: 2.4375rem;
    top: 44.5625rem;
    left: 62.8125rem;
    color: black;
    background-color: rgba(255, 255, 255, 0.71);
}

.time13 {
    border: #707070 0.0625rem solid;
    font-family: "Segoe UI";
    font-size: 1.125rem;
    font-weight: bold;
    position: absolute;
    margin: auto;
    text-align: center;
    width: 20.9375rem;
    height: 2.4375rem;
    line-height: 2.4375rem;
    top: 47.125rem;
    left: 62.8125rem;
    color: black;
    background-color: rgba(255, 110, 110, 0.71)
}

.title14 {
    border: #707070 0.0625rem solid;
    font-family: "Segoe UI";
    font-weight: bold;
    position: absolute;
    margin: auto;
    text-align: center;
    width: 20.9375rem;
    height: 2.4375rem;
    line-height: 2.4375rem;
    top: 61.5625rem;
    left: 62.8125rem;
    color: black;
    background-color: rgba(255, 255, 255, 0.71);
}

.time14 {
    border: #707070 0.0625rem solid;
    font-family: "Segoe UI";
    font-size: 1.125rem;
    font-weight: bold;
    position: absolute;
    margin: auto;
    text-align: center;
    width: 20.9375rem;
    height: 2.4375rem;
    line-height: 2.4375rem;
    top: 64.125rem;
    left: 62.8125rem;
    color: black;
    background-color: rgba(106, 255, 90, 0.71);
}


.title15 {
    border: #707070 0.0625rem solid;
    font-family: "Segoe UI";
    font-weight: bold;
    position: absolute;
    margin: auto;
    text-align: center;
    width: 20.9375rem;
    height: 2.4375rem;
    line-height: 2.4375rem;
    top: 78.5625rem;
    left: 62.8125rem;
    color: black;
    background-color: rgba(255, 255, 255, 0.71);
}

.time15 {
    border: #707070 0.0625rem solid;
    font-family: "Segoe UI";
    font-size: 1.125rem;
    font-weight: bold;
    position: absolute;
    margin: auto;
    text-align: center;
    width: 20.9375rem;
    height: 2.4375rem;
    line-height: 2.4375rem;
    top: 81.125rem;
    left: 62.8125rem;
    color: black;
    background-color: rgba(249, 255, 62, 0.71);
}

.title16 {
    border: #707070 0.0625rem solid;
    font-family: "Segoe UI";
    font-weight: bold;
    position: absolute;
    margin: auto;
    text-align: center;
    width: 20.9375rem;
    height: 2.4375rem;
    line-height: 2.4375rem;
    top: 95.5625rem;
    left: 62.8125rem;
    color: black;
    background-color: rgba(255, 255, 255, 0.71);
}

.time16 {
    border: #707070 0.0625rem solid;
    font-family: "Segoe UI";
    font-size: 1.125rem;
    font-weight: bold;
    position: absolute;
    margin: auto;
    text-align: center;
    width: 20.9375rem;
    height: 2.4375rem;
    line-height: 2.4375rem;
    top: 98.125rem;
    left: 62.8125rem;
    color: black;
    background-color: rgba(70, 240, 246, 0.71);
}

.title17 {
    border: #707070 0.0625rem solid;
    font-family: "Segoe UI";
    font-weight: bold;
    position: absolute;
    margin: auto;
    text-align: center;
    width: 20.9375rem;
    height: 2.4375rem;
    line-height: 2.4375rem;
    top: 112.5625rem;
    left: 62.8125rem;
    color: black;
    background-color: rgba(255, 255, 255, 0.71);
}

.time17 {
    border: #707070 0.0625rem solid;
    font-family: "Segoe UI";
    font-size: 1.125rem;
    font-weight: bold;
    position: absolute;
    margin: auto;
    text-align: center;
    width: 20.9375rem;
    height: 2.4375rem;
    line-height: 2.4375rem;
    top: 115.125rem;
    left: 62.8125rem;
    color: black;
    background-color: rgba(255, 133, 227, 0.71);
}

.title18 {
    border: #707070 0.0625rem solid;
    font-family: "Segoe UI";
    font-weight: bold;
    position: absolute;
    margin: auto;
    text-align: center;
    width: 20.9375rem;
    height: 2.4375rem;
    line-height: 2.4375rem;
    top: 129.5625rem;
    left: 62.8125rem;
    color: black;
    background-color: rgba(255, 255, 255, 0.71);
}

.time18 {
    border: #707070 0.0625rem solid;
    font-family: "Segoe UI";
    font-size: 1.125rem;
    font-weight: bold;
    position: absolute;
    margin: auto;
    text-align: center;
    width: 20.9375rem;
    height: 2.4375rem;
    line-height: 2.4375rem;
    top: 132.125rem;
    left: 62.8125rem;
    color: black;
    background-color: rgba(255, 200, 72, 0.71);
}

.title19 {
    border: #707070 0.0625rem solid;
    font-family: "Segoe UI";
    font-weight: bold;
    position: absolute;
    margin: auto;
    text-align: center;
    width: 20.9375rem;
    height: 2.4375rem;
    line-height: 2.4375rem;
    top: 44.5625rem;
    left: 91.375rem;
    color: black;
    background-color: rgba(255, 255, 255, 0.71);
}

.time19 {
    border: #707070 0.0625rem solid;
    font-family: "Segoe UI";
    font-size: 1.125rem;
    font-weight: bold;
    position: absolute;
    margin: auto;
    text-align: center;
    width: 20.9375rem;
    height: 2.4375rem;
    line-height: 2.4375rem;
    top: 47.125rem;
    left: 91.375rem;
    color: black;
    background-color: rgba(255, 110, 110, 0.71)
}

.title20 {
    border: #707070 0.0625rem solid;
    font-family: "Segoe UI";
    font-weight: bold;
    position: absolute;
    margin: auto;
    text-align: center;
    width: 20.9375rem;
    height: 2.4375rem;
    line-height: 2.4375rem;
    top: 61.5625rem;
    left: 91.375rem;
    color: black;
    background-color: rgba(255, 255, 255, 0.71);
}

.time20 {
    border: #707070 0.0625rem solid;
    font-family: "Segoe UI";
    font-size: 1.125rem;
    font-weight: bold;
    position: absolute;
    margin: auto;
    text-align: center;
    width: 20.9375rem;
    height: 2.4375rem;
    line-height: 2.4375rem;
    top: 64.125rem;
    left: 91.375rem;
    color: black;
    background-color: rgba(106, 255, 90, 0.71);
}


.title21 {
    border: #707070 0.0625rem solid;
    font-family: "Segoe UI";
    font-weight: bold;
    position: absolute;
    margin: auto;
    text-align: center;
    width: 20.9375rem;
    height: 2.4375rem;
    line-height: 2.4375rem;
    top: 78.5625rem;
    left: 91.375rem;
    color: black;
    background-color: rgba(255, 255, 255, 0.71);
}

.time21 {
    border: #707070 0.0625rem solid;
    font-family: "Segoe UI";
    font-size: 1.125rem;
    font-weight: bold;
    position: absolute;
    margin: auto;
    text-align: center;
    width: 20.9375rem;
    height: 2.4375rem;
    line-height: 2.4375rem;
    top: 81.125rem;
    left: 91.375rem;
    color: black;
    background-color: rgba(249, 255, 62, 0.71);
}

.title22 {
    border: #707070 0.0625rem solid;
    font-family: "Segoe UI";
    font-weight: bold;
    position: absolute;
    margin: auto;
    text-align: center;
    width: 20.9375rem;
    height: 2.4375rem;
    line-height: 2.4375rem;
    top: 95.5625rem;
    left: 91.375rem;
    color: black;
    background-color: rgba(255, 255, 255, 0.71);
}

.time22 {
    border: #707070 0.0625rem solid;
    font-family: "Segoe UI";
    font-size: 1.125rem;
    font-weight: bold;
    position: absolute;
    margin: auto;
    text-align: center;
    width: 20.9375rem;
    height: 2.4375rem;
    line-height: 2.4375rem;
    top: 98.125rem;
    left: 91.375rem;
    color: black;
    background-color: rgba(70, 240, 246, 0.71);
}

.title23 {
    border: #707070 0.0625rem solid;
    font-family: "Segoe UI";
    font-weight: bold;
    position: absolute;
    margin: auto;
    text-align: center;
    width: 20.9375rem;
    height: 2.4375rem;
    line-height: 2.4375rem;
    top: 112.5625rem;
    left: 91.375rem;
    color: black;
    background-color: rgba(255, 255, 255, 0.71);
}

.time23 {
    border: #707070 0.0625rem solid;
    font-family: "Segoe UI";
    font-size: 1.125rem;
    font-weight: bold;
    position: absolute;
    margin: auto;
    text-align: center;
    width: 20.9375rem;
    height: 2.4375rem;
    line-height: 2.4375rem;
    top: 115.125rem;
    left: 91.375rem;
    color: black;
    background-color: rgba(255, 133, 227, 0.71);
}

.title24 {
    border: #707070 0.0625rem solid;
    font-family: "Segoe UI";
    font-weight: bold;
    position: absolute;
    margin: auto;
    text-align: center;
    width: 20.9375rem;
    height: 2.4375rem;
    line-height: 2.4375rem;
    top: 129.5625rem;
    left: 91.375rem;
    color: black;
    background-color: rgba(255, 255, 255, 0.71);
}

.time24 {
    border: #707070 0.0625rem solid;
    font-family: "Segoe UI";
    font-size: 1.125rem;
    font-weight: bold;
    position: absolute;
    margin: auto;
    text-align: center;
    width: 20.9375rem;
    height: 2.4375rem;
    line-height: 2.4375rem;
    top: 132.125rem;
    left: 91.375rem;
    color: black;
    background-color: rgba(255, 200, 72, 0.71);
}




