/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 6.25rem;
  left: 39%;
  border: 0.188rem solid black;
  z-index: 9;
  opacity: 100;
}

/* Add styles to the form container */
.form-container {
  max-width: 20rem;
  padding: 0.625rem;
  background-color: #e2e2e2;
  opacity: 100;
}

/* Full-width input fields */
.form-container input, .form-container input {
  width: 100%;
  padding: 0.938rem;
  margin: 0.313rem 0 1.375rem 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input:focus, .form-container input:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #16df1d;
  color: white;
  padding: 1rem 1.25rem;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 0.625rem;
  opacity: 0.85;
  border-radius: 1.25rem;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: rgb(255, 0, 51);
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

#ReserveHeader{
  color:black;
  text-align-last: center;
  padding-bottom: 1.25rem;
}

#FormLabel{
  color:black;
}

#FormText{
  color:black;
  margin-bottom: 2rem;
}