.FoodImageContainer{
    position: relative;
    width: 1536px;
    background-color: black;
    height: 270px;
}
.FoodImage{
    opacity: 0.45;
    width: 100%;
    height: 260px;
}
.FoodHeader{
    font-size: 3em;
    position: absolute;
    top: -15px;
    left: 50%;
}
.RestaurantsHeader{
    font-size: 2.5em;
    position: absolute;
    bottom: -10px;
    left: 3%;
}
.FoodMainText1{
    position: absolute;
    top: 85px;
    left: 24%;
}
.ReservationFeeText{
    position: absolute;
    top: 125px;
    left: 25.5%;
}
.FoodMainText2{
    position: absolute;
    top: 110px;
    left: 44%;
}